/* =========================================================
   COMPONENTS
========================================================= */

/* BUTTONS */

.btn{
    padding:12px 22px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

.btn-primary{
    background:#2f6bff;
    color:#ffffff;
}

.btn-primary:hover{
    opacity:0.9;
}

.btn-success{
    background:#00c853;
    color:#ffffff;
}

.btn-danger{
    background:#ff3d57;
    color:#ffffff;
}

/* INPUTS */

.input-box{
    width:100%;
    padding:14px;
    background:#081120;
    border:1px solid #1d2d50;
    border-radius:12px;
    color:#ffffff;
    margin-top:10px;
}

/* MENU */

.menu{
    margin-top:20px;
}

.menu a{
    display:flex;
    align-items:center;
    gap:12px;
    padding:14px;
    margin-bottom:10px;
    border-radius:14px;
    text-decoration:none;
    color:#ffffff;
    transition:0.3s;
}

.menu a:hover{
    background:#2f6bff;
}
/* =========================================================
TOPBAR
========================================================= */

.topbar{
    width:100%;
    height:80px;
    background:rgba(13,20,40,.96);
    border-bottom:1px solid rgba(255,255,255,.08);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    position:sticky;
    top:0;
    z-index:100;
    backdrop-filter:blur(10px);
}

.topbar-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.topbar-left h2{
    font-size:24px;
    font-weight:700;
}

.mobile-toggle{
    width:45px;
    height:45px;
    border:none;
    border-radius:12px;
    background:#1d2d50;
    color:white;
    font-size:20px;
    cursor:pointer;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.search-box input{
    width:260px;
    height:45px;
    border:none;
    border-radius:12px;
    background:#111c38;
    padding:0 18px;
    color:white;
    font-size:15px;
}

.top-icon{
    width:45px;
    height:45px;
    border-radius:12px;
    background:#1d2d50;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    font-size:18px;
}

.profile-box{
    display:flex;
    align-items:center;
    gap:12px;
    background:#111c38;
    padding:10px 15px;
    border-radius:14px;
}

.profile-box img{
    width:45px;
    height:45px;
    border-radius:50%;
    object-fit:cover;
}