/* =========================================================
   RESPONSIVE SYSTEM
========================================================= */

@media(max-width:1200px){

    .dashboard-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:900px){

    .sidebar{
        width:90px;
        min-width:90px;
    }

    .logo-title{
        display:none;
    }

}

@media(max-width:768px){

    .dashboard-grid{
        grid-template-columns:1fr;
    }

    .main-content{
        padding:12px;
    }

    .page-title{
        font-size:24px;
    }

}

@media(max-width:500px){

    .sidebar{
        display:none;
    }

}