/* =========================================================
   THEME ENGINE
========================================================= */

:root{

    --bg:#081120;
    --card:#111c34;
    --sidebar:#0d1730;

    --primary:#2f6bff;
    --success:#00c853;
    --warning:#ffb300;
    --danger:#ff3d57;

    --text:#ffffff;
    --subtext:#9ea9c9;

    --border:#1d2d50;

}

/* LIGHT THEME */

.light-theme{

    --bg:#f4f7fc;
    --card:#ffffff;
    --sidebar:#ffffff;

    --text:#111111;
    --subtext:#555555;

    --border:#dbe2f0;

}