<div
style="
width:260px;
height:100vh;
background:#0f172a;
color:white;
padding:30px;
overflow:auto;
">

<h2>
BALAJI ERP
</h2>

<hr
style="
margin:20px 0;
border-color:#334155;
">

<div
style="
display:flex;
flex-direction:column;
gap:15px;
">

<button onclick="openModule('modules/dashboard/dashboard-home.html')">
Dashboard
</button>

<button onclick="openModule('modules/inventory/inventory.html')">
Inventory
</button>

<button onclick="openModule('modules/restaurant/restaurant.html')">
Restaurant
</button>

<button onclick="openModule('modules/accounts/accounts.html')">
Accounts
</button>

<button onclick="logoutERP()">
Logout
</button>

</div>

</div>