
:root{
--bg:#ffffff;
--text:#111111;
--card:#f5f5f5;
--sidebar:#111111;
}

body.dark{
--bg:#050505;
--text:#ffffff;
--card:#111111;
--sidebar:#0d0d0d;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:var(--bg);
color:var(--text);
display:flex;
transition:0.3s;
}

.sidebar{
width:260px;
height:100vh;
background:var(--sidebar);
padding:20px;
position:fixed;
overflow:auto;
}

.logo{
text-align:center;
margin-bottom:30px;
}

.erp-logo{
width:70px;
height:70px;
border-radius:50%;
object-fit:cover;
background:#fff;
border:3px solid #e6a817;
}

.logo h2{
margin-top:10px;
color:#fff;
}

.logo span{
color:#e6a817;
}

.menu a{
display:block;
padding:14px;
margin-bottom:10px;
background:#1a1a1a;
border-radius:12px;
text-decoration:none;
color:white;
font-weight:bold;
}

.menu a:hover{
background:linear-gradient(135deg,#d71a1a,#8b0000);
}

.main{
margin-left:260px;
padding:30px;
width:calc(100% - 260px);
}

.card{
background:var(--card);
padding:30px;
border-radius:18px;
margin-bottom:20px;
}

h1{
margin-bottom:20px;
color:#e6a817;
}

h2{
margin-bottom:20px;
color:#e6a817;
}

input,select,textarea{
width:100%;
padding:14px;
margin-top:10px;
margin-bottom:15px;
background:#1f2937;
border:none;
border-radius:10px;
color:white;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:linear-gradient(135deg,#d71a1a,#8b0000);
color:white;
font-weight:bold;
cursor:pointer;
}

.toggle{
display:flex;
justify-content:space-between;
align-items:center;
padding:14px;
background:#1f2937;
border-radius:10px;
margin-bottom:15px;
color:white;
}

.footer{
text-align:center;
color:#777;
margin-top:20px;
}
